h2{ 
    text-align: center;
    color: #b1b1b1;
    font-size: 20px;
    
}body {
            background-color: #000000;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
            color: #e7e7e7;
            text-align: center;
        }
        h1 {
            color: #ffffff;
            text-align: center;
        }
        h {
            color: #ffffff;
            text-decoration: none;
            text-align: center;
        }
        a:hover {
            text-decoration: underline;
            text-align: center;
        }